<div class="edit-main">
  <div class="edit-hold">
    <h4>Edit Title</h4>
    <input class="form-input" type="text" value="{{name}}">
    <h4 id="text-edit" >Edit Text</h4>
    <div class="form-group">
        <textarea class="form-input" id="project-desc" name="project-desc">{{description}}</textarea>
      </div>
    <p class="edit-created-by">Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
      <button data-id="{{this.id}}" id="edit-btn" class="btn btn-primary">Confirm</button>
    </p>
  </div>
</div>

<script src="/js/edit.js"></script>