<div class="edit-main">
  <div class="edit-hold">
    <h2>Edit Title</h2>
    <input class="edit-title" type="text" value="{{this.title}}">
    <h2>Edit Text</h2>
    <div class="form-group">
        <textarea class="edit-body" id="project-desc" name="project-desc">{{this.body}}</textarea>
      </div>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
      <button data-id="{{this.id}}" id="edit-btn" class="btn btn-primary">Confirm</button>
    </p>
  </div>
</div>

<script src="/js/edit.js"></script>