<h1 class="home-heading">What's Trending</h1>
{{#each projects as |project| }}
<div class="home-post">
  <div class="home-blog-title-container">
    <h2>
      <a class="home-blog-title" href="/projects/{{project.id}}">{{project.name}}</a>
    </h2>
  </div>
  <div class="col-md-7">
    <p>
      {{project.description}}
    </p>
  </div>
  <div class="home-created-by-container">
    <p class="home-created-by">Created by {{project.user.name}} on {{format_date project.date_created}}</p>
  </div>
</div>
{{/each}}